[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
scikit-learn = "*"
uvicorn = "*"
moviepy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
